
#root {
  /* width: 1280px; */
  width: 100vw;
  margin: 0 auto;
  
  text-align: center;
  font-weight: 10px;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.Name {
  margin-top: -10px;
}

.card {
  width: 500px;
  margin: auto;
  background-color: #eddcd9;
  padding: 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 300px;
  margin-right: 10px;
}
#card-head1{
  background-color: #f2ebe9;
}

#card-body1{
  
  width: 100%;
  padding: 20px;
}


input[type=text], input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
.card-2{
  width: 500px;
  margin: auto;
  background-color: #303179;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 300px;
  color: white;
  margin-left: 100px
  
}

#card-head2{
  background-color: #141850;
  padding: 10px;
  color: white;
}

#card-body2{
  
  width: 100%;
  padding: 20px;
  padding: 80px;
}
